body {
  background-color: white;
  font-family: 'Lato', sans-serif;
}

main {
  color: gray;
}

header h1 {
  color: #b6006c;
}

section#cipher {
  display: grid;
  grid-template-columns: 3fr auto 3fr;
  padding: 10px 15px;
  gap: 20px;
}

.input-container {
  display: grid;
  grid-gap: 15px;
}

button#switch-btn {
  height: 32px;
  align-self: center;
  justify-self: center;
  margin-top: 6em;
  border-radius: 6px;
  color: rgb(165, 163, 163);
  background-color: rgba(255, 255, 255, 0.884);
  cursor: pointer;
  border: 1px solid gray;
  transition: all 300ms ease;
  display: grid;
}

button#switch-btn > img {
  width: 16px;
  height: auto;
  place-self: center;
}

button#switch-btn:hover {
  box-shadow: 0px 0px 6px 1px #b6006c;
  transform: scale(1.1);
}

textarea:focus {
  border: 2px solid rgb(165, 163, 163);
  outline: none;
}

.input-container > textarea {
  height: 200px;
  padding:16px 20px;
  font-size: 14px;
  color: #b6006c;
  border-radius: 8px;
  resize: none;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.input-container > label {
  text-align: center;
  padding: 12px;
}

input#offset {
  width: 31px;
  padding: 5px 10px;
  place-self: center;
}

footer {
  text-align: center;
  padding: 4em;
  color: #b6006c;
}

input#reset-btn {
  place-self: center;
  border-radius: 6px;
  color: #b6006c;
  background-color: rgba(255, 255, 255, 0.884);
  cursor: pointer;
  border: 1px solid gray;
  transition: all 300ms ease;
  display: grid;
}

input#reset-btn:hover {
  box-shadow: 0px 0px 6px 1px #b6006c;
  transform: scale(1.1);
}
